# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Build
build/

# Binaries
quicksilver

# MacOS
.DS_Store
.idea/

# vscode
.vscode/
.vs/
CMakeSettings.json
cmake-build-debug/


